<h4>Lessons</h4>
<table id="lesson-table">
    <thead>
        <tr>
            <th class="sortable ascending" scope="col">ID</th>
            <th class="sortable" scope="col">Author</th>
            <th class="sortable" scope="col">Lesson Name</th>
            <th class="sortable" scope="col">Program</th>
            <th class="sortable" scope="col">Subject</th>
            <th class="sortable" scope="col">Level</th>
            <th class="sortable" scope="col">Block</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
            <tr class="lesson" data-id="{{id}}">
                <td class="lesson-id">{{id}}</td>
                <td>{{username}}</td>
                <td class="lesson-name">
                    {{name}}
                    <div class="tag-wrapper">
                        {{#each tags}}<span class="tag">{{this}}</span>{{/each}}
                    </div>
                </td>
                <td>{{program}}</td>
                <td>{{#each subject}}<div class="lesson-item" data-value="{{this}}">{{this}}</div>{{/each}}</td>
                <td>{{level}}</td>
                <td>{{block}}</td>
                <td class="action-wrapper">
                    <button id="print-button" title="Print" data-file_name="{{file_url}}" style="display: none"><i class="fas fa-print"></i></button>
                    <a href="/templates/bundle/assets/lessons/{{file_url}}"><button id="download-button" title="Download"><i class="fas fa-file-download"></i></button></a>
                    <button id="edit-button" title="Edit"><i class="fas fa-edit"></i></button>
                    <button id="delete-button" title="Delete"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>